@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon/icomoon.eot?h51epq');
  src: url('../../fonts/icomoon/icomoon.eot?h51epq#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?h51epq') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?h51epq') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?h51epq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shop-1:before {
  content: "\e957";
  color: #8d1a14;
}

.icon-arrow-right:before {
  content: "\e956";
}

.icon-bag-happy-1:before {
  content: "\e952";
  color: #8d1a14;
}

.icon-home-01-1:before {
  content: "\e953";
  color: #8d1a14;
}

.icon-user-03-1:before {
  content: "\e954";
  color: #8d1a14;
}

.icon-medal-star-1:before {
  content: "\e955";
  color: #8d1a14;
}

.icon-home-01:before {
  content: "\e94d";
  color: #98a2b3;
}

.icon-shop:before {
  content: "\e94e";
  color: #98a2b3;
}

.icon-medal-star:before {
  content: "\e94f";
  color: #98a2b3;
}

.icon-bag-happy:before {
  content: "\e950";
  color: #98a2b3;
}

.icon-user-03:before {
  content: "\e951";
  color: #98a2b3;
}

.icon-box1:before {
  content: "\e94c";
}

.icon-export:before {
  content: "\e941";
}

.icon-import:before {
  content: "\e942";
}

.icon-document-download:before {
  content: "\e943";
}

.icon-directbox-send:before {
  content: "\e944";
}

.icon-graph:before {
  content: "\e945";
}

.icon-user-tick1:before {
  content: "\e946";
}

.icon-calendar-2:before {
  content: "\e947";
}

.icon-money-3:before {
  content: "\e948";
}

.icon-cards:before {
  content: "\e949";
}

.icon-PDF-1:before {
  content: "\e94a";
}

.icon-svgexport-15-1:before {
  content: "\e94b";
}

.icon-arrow-up-right-from-square:before {
  content: "\e940";
}

.icon-ban-solid-full:before {
  content: "\e93f";
}

.icon-linkedin:before {
  content: "\e93c";
  color: #fff;
}

.icon-instagram:before {
  content: "\e93d";
  color: #fff;
}

.icon-facebook:before {
  content: "\e93e";
  color: #fff;
}

.icon-expand-solid:before {
  content: "\e93b";
}

.icon-warning-2:before {
  content: "\e93a";
}

.icon-circle-play-regular:before {
  content: "\e939";
}

.icon-message-regular:before {
  content: "\e938";
}

.icon-whatsapp-brands:before {
  content: "\e935";
}

.icon-envelope-regular:before {
  content: "\e936";
}

.icon-message-solid:before {
  content: "\e937";
}

.icon-view-on:before {
  content: "\e934";
  color: #94959e;
}

.icon-filter-search:before {
  content: "\e932";
}

.icon-element-plus:before {
  content: "\e930";
}

.icon-setting-4:before {
  content: "\e931";
}

.icon-shield-tick:before {
  content: "\e92a";
  color: #666876;
}

.icon-double-left:before {
  content: "\e92b";
  color: #7e818e;
}

.icon-double-right:before {
  content: "\e92c";
  color: #7e818e;
}

.icon-at:before {
  content: "\e92d";
  color: #4a4a49;
}

.icon-logout1:before {
  content: "\e92e";
  color: #4a4a49;
}

.icon-task:before {
  content: "\e92f";
  color: #4a4a49;
}

.icon-ranking .path1:before {
  content: "\e90e";
  color: rgb(126, 129, 142);
}

.icon-ranking .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(126, 129, 142);
  opacity: 0.4;
}

.icon-ranking .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(126, 129, 142);
  opacity: 0.4;
}

.icon-ranking .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(126, 129, 142);
  opacity: 0.4;
}

.icon-location:before {
  content: "\e90b";
  color: #4a4a49;
}

.icon-multiplication-sign:before {
  content: "\e917";
}

.icon-arrow-left-01-round:before {
  content: "\e921";
}

.icon-arrow-down-01-round:before {
  content: "\e933";
}

.icon-arrow-right-01-round:before {
  content: "\e927";
}

.icon-add:before {
  content: "\e900";
  color: #4a4a49;
}

.icon-box .path1:before {
  content: "\e901";
  color: rgb(126, 129, 142);
  opacity: 0.4;
}

.icon-box .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(126, 129, 142);
  opacity: 0.4;
}

.icon-box .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(126, 129, 142);
  opacity: 0.4;
}

.icon-box .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(126, 129, 142);
}

.icon-box .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(126, 129, 142);
}

.icon-search-normal:before {
  content: "\e906";
  color: #7e818e;
}

.icon-minus:before {
  content: "\e907";
  color: #4a4a49;
}

.icon-bag-happy:before {
  content: "\e908";
  color: #4a4a49;
}

.icon-tick-circle:before {
  content: "\e909";
  color: #8d1a14;
}

.icon-trash:before {
  content: "\e90a";
  color: #667085;
}

.icon-bag-cross .path1:before {
  content: "\e90c";
  color: rgb(126, 129, 142);
  opacity: 0.4;
}

.icon-bag-cross .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(126, 129, 142);
}

.icon-logout:before {
  content: "\e90f";
  color: #8d1a14;
}

.icon-bag-tick .path1:before {
  content: "\e910";
  color: rgb(0, 153, 65);
  opacity: 0.4;
}

.icon-bag-tick .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 153, 65);
}

.icon-bag .path1:before {
  content: "\e912";
  color: rgb(141, 26, 20);
  opacity: 0.4;
}

.icon-bag .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(141, 26, 20);
}

.icon-logout-03:before {
  content: "\e914";
  color: #8d1a14;
}

.icon-star-fill-lg:before {
  content: "\e915";
  color: #ffc107;
}

.icon-star-blank-lg:before {
  content: "\e916";
  color: #d9d9d9;
}

.icon-star-blank-sm:before {
  content: "\e918";
  color: #c2c5d2;
}

.icon-star-fill-sm:before {
  content: "\e919";
  color: #d8a343;
}

.icon-global:before {
  content: "\e91a";
  color: #4a4a49;
}

.icon-arrow-up:before {
  content: "\e91b";
}

.icon-user:before {
  content: "\e91c";
  color: #7e818e;
}

.icon-mobile:before {
  content: "\e91d";
  color: #7e818e;
}

.icon-sms:before {
  content: "\e91e";
  color: #7e818e;
}

.icon-shop:before {
  content: "\e91f";
  color: #7e818e;
}

.icon-user-tick:before {
  content: "\e920";
}

.icon-user-remove:before {
  content: "\e922";
}

.icon-view-off:before {
  content: "\e923";
  color: #94959e;
}

.icon-shield-security:before {
  content: "\e924";
  color: #7e818e;
}

.icon-call-center:before {
  content: "\e926";
}