.profile-side-bar {
    .profile-dropdown-header {
        border-bottom: 1px solid #e4e5e8;

        .profile-img {
            text-align: center;
            background-color: #fff;
            border: 1px solid #e4e5e8;
            border-radius: 100px;
            width: 44px;
            height: 44px;
            line-height: 27px;
        }

        .username {
            font-size: 16px;
        }

        .user-email {
            color: var(--Gray-1);
            font-size: 12px;
        }
    }

    ul {
        .active {
            @media (min-width: 993px) {
                color: #8D1A14;
                background-color: #8D1A141F;

                i::before {
                    color: #8D1A14;
                }
            }
        }
    }

    i.type {
        font-size: 20px;
    }

    .logout-wrapper {
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: var(--primary-color);

            .logout {
                color: #fff;

                i:before {
                    color: #fff;
                }
            }
        }
    }

    .logout {
        color: #8d1a14;
        font-size: 16px;
        transition: all 0.4s ease-in-out;

        i:before {
            transition: all 0.4s ease-in-out;
        }
    }
}

.adress-item {
    color: #4A4A49;
    border-radius: 16px;
    padding: 15px 10px;
    border: 1px solid #C2C5D2;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.order-card {
    border: 1px solid #CCD3D9;

    .order-number {
        font-size: 16px;
        font-weight: 700;
        color: #1E1E1E;
        transition: all 0.4s ease-in-out;

        &:hover {
            color: var(--primary-color);
        }
    }

    .prod-img {
        border: 1px solid #CCD3D9;
    }

    .prod-title {
        font-size: 16px;
        color: #1E1E1E;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-weight: 400;
        display: -webkit-box;
        overflow: hidden;
        min-height: 24px;
    }

    .prod-qty {
        font-size: 12px;
        font-weight: 700;
        color: var(--primary-color);
    }

    .prod-price {
        font-size: 14px;
        font-weight: 700;
        color: var(--primary-color);
    }

    .extra-products {
        font-size: 14px;
        padding: 8px;
        color: #4A4A49;
        border-radius: 6px;
        margin-top: 15px;
        background-color: #C2C5D233;
    }

    .order-total-price,
    .order-total-title {
        font-size: 14px;
        font-weight: 700;
        color: #1E1E1E;
    }

    .order-total-price {}
}

.order-status {
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 8px;
    min-width: 100px;
    text-align: center;

    &.closed {
        color: #009941;
        background-color: #E5FFF0;
    }

    &.canceled {
        color: #8d1a14;
        background-color: #8d1a141f;
    }

    &.in-progress {
        color: #D8A343;
        background-color: #D8A3431F;
    }

    &.in-delivery {
        color: #165897;
        background-color: #1658971F;
    }
}

.order-date {
    font-size: 16px;
    color: #7E818E;
}

@media (max-width: 767px) {
    .order-details .cart-item .actions {
        width: auto;
    }
}

.responsive-table {
    overflow-x: auto;
}

.profile-selling-tabs-links {
    display: flex;
    border-bottom: 1px solid #6670851f;

    li {
        position: relative;

        .active {
            color: #8d1a14;

            &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #8d1a14;
            }
        }

        button {
            &:hover {
                color: #8d1a14;
                background-color: transparent;
            }
        }
    }
}

.selling-target-table {
    min-width: 860px;


    .shadow {
        box-shadow: none;
        padding-inline: 0;
    }

    .selling-table-container {
        .table-head {
            color: #fff;
            padding: 20px 0;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            // margin-bottom: 20px;
            background-color: var(--primary-color);

            .width-10 {
                width: 10%;
            }

            .width-65 {
                width: 65%;
            }

            >div {
                padding: 0 20px;
            }
        }

        .table-item {
            border: 1px solid #ccc;
            border-top: none;

            &:last-of-type {
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .border-center {
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
            }

            .width-10 {
                width: 10%;
            }

            .width-65 {
                width: 65%;
            }

            >div {
                padding: 20px;
            }
        }

        .target-content {
            p {
                font-size: 14px;
            }

            .progress-bar {
                margin: 10px 0;
                background-color: rgba(141, 26, 20, 0.12);
                border-radius: 8px;
                height: 10px;
                position: relative;

                .progress {
                    background-color: rgba(141, 26, 20, 1);
                    height: 8px;
                    border-radius: 8px;
                    height: 4px;
                    position: absolute;
                    top: 50%;
                    right: 4px;
                    transform: translateY(-50%);
                }
            }

            .red-text {
                p {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.payment-methods {
    label {
        cursor: pointer;
    }

    .card {
        position: relative;
        height: 100%;
        border-radius: 8px;
        border: 2px solid transparent;

        i {
            font-size: 54px;
        }

        .icon-tick-circle {
            position: absolute;
            top: 10px;
            left: 10px;
            opacity: 0;
            font-size: 20px;
        }

        &.selected {
            color: #8d1a14;
            background-color: #8d1a141f;
            border: 2px solid var(--primary-color);

            .icon-tick-circle {
                opacity: 1;
            }
        }
    }
}