#header-sticky {
    min-height: 86px;
    z-index: 9998;

    .menu-list {
        li {

            a {
                @media (min-width: 992px) and (max-width: 1099px) {
                    padding-inline-start: 0;
                    padding-inline-end: 0;
                    font-size: 12.4px;
                }

                @media (min-width: 1100px) and (max-width: 1220px) {
                    padding-inline-start: 0;
                    padding-inline-end: 0;
                    font-size: 14px;
                }

                &:hover {
                    color: var(--primary-color);
                }
            }

            &.active {
                a {
                    color: var(--primary-color);
                }
            }

            i {
                &::before {
                    color: #292d32;
                }
            }
        }
    }

    .logo-img {
        transition: all 0.3s ease-in-out;

        @media (max-width: 600px) {
            width: 100px;
        }
    }

    .hide-logo {
        @media (min-width: 1024px) {
            width: 0;
        }
    }

    .head-div {
        @media (max-width: 600px) {
            gap: 16px !important;
        }
    }
}

footer {
    margin-top: 40px;
    background-color: #000000;

    section {
        height: 91px;
    }

    p {
        color: #FFFFFF99;
        opacity: 0.6;
    }
}

.offcanvas__info {
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    background: #fff;
    transition: all 0.5s ease-in-out;
    z-index: 99999;
    display: none;

    @media (max-width: 1023px) {
        display: block;
    }

    &.active {
        transform: translateX(0);
    }

    &.not-active {
        transform: translateX(-100%);
    }
}

.mobile-menu-links {
    margin-top: 40px;

    li {
        margin-bottom: 24px;

        &.active a {
            color: var(--primary-color);
        }
    }
}

.offcanvas__close {
    i {
        font-size: 20px;
    }
}

header {

    .circle-icon-container,
    .lang-switcher {
        transition: all 0.3s ease-in-out;

        i::before {
            transition: all 0.3s ease-in-out;
        }

        @media (min-width: 993px) {

            &:hover {
                background-color: var(--primary-color);

                i::before {
                    color: #fff;
                }
            }
        }

        @media (max-width: 992px) {
            border: none;
        }

    }
}

.general-search {
    position: fixed;
    top: 89px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;

    &.open {
        pointer-events: all;
        opacity: 1;
    }

    .container {
        padding: 0;
    }

    .search-me {
        margin-inline-start: 50px;
    }

    input {
        border-radius: 8px;
        border: 1px solid #ccc;
    }

    .search-results-listing {
        width: 100%;
    }

    .view-details {
        display: none;
    }

}

.general-search-overlay {
    position: fixed;
    top: 89px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ab;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;


    &.open {
        pointer-events: all;
        opacity: 1;
    }
}