
.payment-form-wrapper {
    // direction: ltr;
    p {
        margin-bottom: 0;
    }

    input {
        border: 1px solid rgba(194, 197, 210, 1);
    }

    .card-preview {
        font-family: 'TheSansArabic';
        * {
            color: #fff;
        }
        .text-black {
            color: #000;
        }
        .font-medium {
            font-weight: 600;
        }
    }
}